In [32]:
pip install pandas openpyxl

Requirement already satisfied: pandas in c:\users\ankic\appdata\local\programs\python\python313\lib\site-packages (2.2.3)
Requirement already satisfied: openpyxl in c:\users\ankic\appdata\local\programs\python\python313\lib\site-packages (3.1.5)
Requirement already satisfied: numpy>=1.26.0 in c:\users\ankic\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.2.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\ankic\appdata\roaming\python\python313\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\ankic\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\ankic\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: et-xmlfile in c:\users\ankic\appdata\local\programs\python\python313\lib\site-packages (from openpyxl) (2.0.0)
Requirement already satisfied: six>=1.5 in c:\users\ankic\appdata\roaming\python\python313\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [33]:
import pandas as pd

In [34]:
df= pd.read_excel("K:\Excel\BCG Task 1.xlsx")

<>:1: SyntaxWarning: invalid escape sequence '\E'
<>:1: SyntaxWarning: invalid escape sequence '\E'
C:\Users\ankic\AppData\Local\Temp\ipykernel_7540\1645069223.py:1: SyntaxWarning: invalid escape sequence '\E'
  df= pd.read_excel("K:\Excel\BCG Task 1.xlsx")

In [35]:
print(df.head())

     Company  Total Revenue  Net Income  Total Assets  Total Liability  \
0  Microsoft         168088       61271           NaN              NaN
1  Microsoft         198270       72738      364840.0         198298.0
2  Microsoft         211915       72361      411976.0         205753.0
3      Apple         365817       94680           NaN              NaN
4      Apple         394328       99803      352755.0         302083.0

   Cash Flow From Operations  Year
0                      76740  2021
1                      89035  2022
2                      87582  2023
3                     104038  2021
4                     122151  2022

In [36]:
df['Revenue Growth (%)'] = df.groupby(['Company'])['Total Revenue'].pct_change() * 100
df['Net Income Growth (%)'] = df.groupby(['Company'])['Net Income'].pct_change() * 100

In [37]:
print(df.head())

     Company  Total Revenue  Net Income  Total Assets  Total Liability  \
0  Microsoft         168088       61271           NaN              NaN
1  Microsoft         198270       72738      364840.0         198298.0
2  Microsoft         211915       72361      411976.0         205753.0
3      Apple         365817       94680           NaN              NaN
4      Apple         394328       99803      352755.0         302083.0

   Cash Flow From Operations  Year  Revenue Growth (%)  Net Income Growth (%)
0                      76740  2021                 NaN                    NaN
1                      89035  2022           17.956071              18.715216
2                      87582  2023            6.882030              -0.518299
3                     104038  2021                 NaN                    NaN
4                     122151  2022            7.793788               5.410858

In [38]:
def simple_chatbot(user_query):
    """
    A simple chatbot that dynamically responds to queries based on the dataset.

    Args:
        user_query (str): The user's question.

    Returns:
        str: The chatbot's response.
    """
    if "total revenue" in user_query.lower():
        # Extract company and year from the query
        for company in df['Company'].unique():
            if company.lower() in user_query.lower():
                try:
                    year = int([word for word in user_query.split() if word.isdigit()][0])
                    revenue = df.loc[(df['Company'] == company) & (df['Year'] == year), 'Total Revenue']
                    if not revenue.empty:
                        return f"The total revenue for {company} in {year} is {revenue.values[0]:,}."
                    else:
                        return f"Sorry, I couldn't find the total revenue for {company} in {year}."
                except IndexError:
                    return "Please specify a year in your query."

    elif "net income" in user_query.lower():
        for company in df['Company'].unique():
            if company.lower() in user_query.lower():
                try:
                    year = int([word for word in user_query.split() if word.isdigit()][0])
                    net_income = df.loc[(df['Company'] == company) & (df['Year'] == year), 'Net Income']
                    if not net_income.empty:
                        return f"The net income for {company} in {year} is {net_income.values[0]:,}."
                    else:
                        return f"Sorry, I couldn't find the net income for {company} in {year}."
                except IndexError:
                    return "Please specify a year in your query."

    elif "total assets" in user_query.lower():
        for company in df['Company'].unique():
            if company.lower() in user_query.lower():
                try:
                    year = int([word for word in user_query.split() if word.isdigit()][0])
                    assets = df.loc[(df['Company'] == company) & (df['Year'] == year), 'Total Assets']
                    if not assets.empty:
                        return f"The total assets for {company} in {year} are {assets.values[0]:,}."
                    else:
                        return f"Sorry, I couldn't find the total assets for {company} in {year}."
                except IndexError:
                    return "Please specify a year in your query."

    elif "liability" in user_query.lower():
        for company in df['Company'].unique():
            if company.lower() in user_query.lower():
                try:
                    year = int([word for word in user_query.split() if word.isdigit()][0])
                    liability = df.loc[(df['Company'] == company) & (df['Year'] == year), 'Total Liability']
                    if not liability.empty:
                        return f"The total liability for {company} in {year} is {liability.values[0]:,}."
                    else:
                        return f"Sorry, I couldn't find the total liability for {company} in {year}."
                except IndexError:
                    return "Please specify a year in your query."

    elif "cash flow" in user_query.lower():
        for company in df['Company'].unique():
            if company.lower() in user_query.lower():
                try:
                    year = int([word for word in user_query.split() if word.isdigit()][0])
                    cash_flow = df.loc[(df['Company'] == company) & (df['Year'] == year), 'Cash Flow From Operations']
                    if not cash_flow.empty:
                        return f"The cash flow from operations for {company} in {year} is {cash_flow.values[0]:,}."
                    else:
                        return f"Sorry, I couldn't find the cash flow from operations for {company} in {year}."
                except IndexError:
                    return "Please specify a year in your query."

    return "Sorry, I can only provide information on predefined queries based on the dataset."

In [39]:
print(simple_chatbot("Total revenue for microsoft in 2021"))
print(simple_chatbot("Total revenue for apple in 2022"))
print(simple_chatbot("Total revenue for tesla in 2023"))

The total revenue for Microsoft in 2021 is 168,088.
The total revenue for Apple in 2022 is 394,328.
The total revenue for Tesla in 2023 is 96,773.

In [40]:
print(simple_chatbot("Total revenue for tesla in 2024"))

Sorry, I couldn't find the total revenue for Tesla in 2024.